{{#description}}
/// {{{.}}}
{{/description}}
class {{className}} {
    const {{className}}(this._value);
    factory {{className}}.fromJson(int numValue) => {{className}}(numValue);
    
    final int _value;
    
    {{#values}}
    ///{{name}} = {{value}}
    {{#description}}
    /// {{{.}}}
    {{/description}}
    static const {{className}} {{name}} = {{className}}({{value}});
    {{/values}}

    int get value {
        return _value;
    }

    bool contains({{className}} childValue){
        return value & childValue.value == childValue.value;
    }

    int operator & ({{className}} item){
      return value & item.value;
    }

    @override
    bool operator ==(dynamic other) {
        if(other is int){
            return other == value;
        }
        try{
        return value == other.value;
        }catch(e){
            return other == this;
        }
    }

    @override
    int get hashCode => value;
    
    int toJson() => value;
}