import 'package:json_annotation/json_annotation.dart';

enum {{className}} {
  {{#values}}
  ///{{name}} = {{value}}
  {{#description}}
  /// {{.}}
  {{/description}}
  @JsonValue({{value}})
  {{name}},
  {{/values}}
}

extension {{className}}Extension on {{className}}{
  int get value {
    switch(this){
      {{#values}}
      case {{className}}.{{name}}:
        return {{value}};
      {{/values}}
      default:
        return null;
    }
  }
}