{{#imports}}
import '{{filename}}.dart';
{{/imports}}
class {{className}}{
	{{#properties}}
	{{{typeName}}} {{propertyName}};
	{{/properties}}
	{{className}}(
		{{#properties}}
		this.{{propertyName}},
		{{/properties}}
	);

	static {{className}} fromMap(Map<String, dynamic> data){
		if(data == null) {
			return null;
		};
		return new {{className}}(
			{{#properties}}
				{{{deserializationFunction}}},
			{{/properties}}
		);
	}

	static List<{{className}}> fromList(List<dynamic> data){
		if(data == null) {
			return null;
		};
		List<{{className}}> list = new List();
    data.forEach((item) {
      list.add({{className}}.fromMap(item));
    });
    return list;
	}

	Map<String, dynamic> toMap(){
		Map<String, dynamic> data = new Map();
		{{#properties}}
			{{{serializationFunction}}};
		{{/properties}}
		return data;
	}
}