{{#imports}}
import '../models/{{filename}}.dart';
{{/imports}}

import 'package:json_annotation/json_annotation.dart';
part '{{filename}}.g.dart';

{{#description}}
/// {{{.}}}
{{/description}}
@JsonSerializable()
class {{className}} {
	{{#properties}}
	
	{{#description}}
	/// {{{.}}}
	{{/description}}
	@JsonKey(name:'{{name}}')
	{{{typeName}}} {{propertyName}};
	{{/properties}}
	{{className}}({
		{{#properties}}
		this.{{propertyName}},
		{{/properties}}
	});

	factory {{className}}.fromJson(Map<String, dynamic> json) => _${{className}}FromJson(json);
	

	Map<String, dynamic> toJson() => _${{className}}ToJson(this);
}
