{{#imports}}
import '{{{.}}}.dart';
{{/imports}}
import '../helpers/base_bungie_net_response.dart';

import 'package:json_annotation/json_annotation.dart';
import 'package:compute/compute.dart';

part '{{filename}}.g.dart';

{{#description}}
/// {{{.}}}
{{/description}}
@JsonSerializable()
class {{className}} extends BungieNetResponse<{{{responseClassName}}}> {
	{{className}}({
		{{#properties}}
		{{{typeName}}}? {{propertyName}},
		{{/properties}}
	}):super(
		{{#properties}}
		{{propertyName}}:{{propertyName}},
		{{/properties}}
	);

	factory {{className}}.fromJson(Map<String, dynamic> json) => _${{className}}FromJson(json);

	Map<String, dynamic> toJson() => _${{className}}ToJson(this);

	static Future<{{className}}> asyncFromJson(Map<String, dynamic> json) => 
		compute<Map<String, dynamic>, {{className}}>((json)=>{{className}}.fromJson(json), json);

	Future<Map<String, dynamic>> asyncToJson() => 
		compute<void, Map<String, dynamic>>((_)=>toJson(), null);
}